.table {
  border: var(--border);
}

.row {
  display: grid;
  grid-template-columns: 10% 45% 45%;

  border-bottom: var(--border);
}

.row:last-child {
  border: none;
}

.table_head {
  display: flex;
  align-items: center;

  background: var(--bg-table-head);

  font-weight: 600;
  color: var(--color-table-head);
}

.table_head .row {
  width: 100%;
  min-height: 54px;
}

.table_head_button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 25px;

  height: 100%;
  width: 100%;

  color: var(--color-table-head);
}

.table_head_button .inverted {
  transform: rotate(180deg);
}

.table_body {
  background: var(--bg-table);

  font-size: 13px;
  font-weight: 500;
}

.col {
  display: flex;
  align-items: center;

  padding: 15px 11px;
  border-right: var(--border);
}

.col:last-child {
  border-right: none;
}

.table_body .col_id {
  justify-content: center;
}


@media (max-width: 768px) {
  .table_head__col {
    min-width: 45px;
  }

  .table_head_button {
    gap: 8px;
  }
}