.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0 40px;

  color: var(--color-theme)
}

.button {
  font-size: 24px;
  font-weight: 500;


  cursor: pointer;
}

.button:disabled {
  color: var(--color-border);

  cursor: not-allowed;
}

.pages {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;

  display: flex;
  gap: 8px;

  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.page_active {
  color: var(--color-pagination-active);
}

@media (max-width: 768px) {
  .pagination {
    padding: 0;
  }

  .pages {
    font-size: 16px;
  }

  .button {
    font-size: 18px;
  }
}